<style>
    .sub-menu {
        display: none;
        margin-top: 5px;
        margin-left: 20px; /* Для небольшого отступа подменю */

    }
    .menu-toggle {
        cursor: pointer;
    }
</style>
<ul>
    {% for child in folder.children.all %}
        <li class="menu-item expandable"> <!-- Добавляем класс expandable -->
            <div class="menu-toggle">{{ child.name }}</div> <!-- Элемент для клика -->
            {% if child.children.all %}
                <ul class="sub-menu">
                    {% include 'children.html' with folder=child %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>


